header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    text-align: center;
    padding: 1px;
    border: 1px solid #000000;
    background-color: #42526E;
    color: #ffffff
}
body{
  color:white;
}
body.below-body{
    padding-top: 100px;
    background-color: #0a46ad;
}
main{
    margin-top: 125px;
    border: 3px solid #000000;
}
/* Used in index.html to Home, etc */
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8px;
    gap: 15px;
}
nav a{
    text-decoration: none;
    padding: 5px 5px;
    margin: 1px 0px;
    border: 2px solid black;
    background-color: #ffffff;
    font-family: RGFont;
    font-size: 35px;
    font-weight: bold;
    color: #000;
}
.element{
    height:200px;
    width:200px;
    background:#0071FF;
    display:flex;
    align-items:center;
    justify-content: center;
    font-family:Poppins;
    font-weight: 700;
    font-size:1.35rem;
    color:white;

    animation-duration: 3s;
    animation-name: spin;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 3;
    font-family: RGFont;
    font-size: 30px;
}
/* ======= Testing this out ======= */
p{
  color: rgb(255, 255, 255);
  font-family: RGFont;
  font-size: 2rem;
}
h1{
  font-family: RGFont;
  padding: 2px 2px;
  margin: 2px 2px;
  border: 2px solid #000000;
  background-color: rgb(22, 57, 93);
}
h1:hover{
  transform:rotateY(360deg);
  transition: 2s;
}
h1:has(+ p){
  margin-bottom: 0;
}

@media (color-gamut: srgb){
  p.alert{
    background-color: (in hsl, hsl(20, 89%, 45%), coral 80%);
    color: rgb(0, 0, 0);
  }
}

@keyframes spin{
    0%{

    }
    100%{
        scale: 2;
        transform: rotate(360deg);
        border-radius: 50%;
    }
}
.element{
  width: 100%;
  height: 100%;
  animation: pulse 5s infinite;
}
@keyframes pulse{
  0% {
    background-color: #001F3F;
  }
  100%{
    background-color: #1630ef;
  }
}
body{
  background-color: #0071FF;
}
@media screen and (min-width:800px) {
  body {
    background-color: #404456;
  }
}
blockquote{
  color:white;
}

/* ======================== */

#date{
    border: 2px solid #000000;
    text-align: center;
    color: #ffffff;
    background-color: #42526E;
}


  .loader {
    position: absolute;
    left: 50%;
    margin-top: -2.7em;
    margin-left: -2.7em;
    width: 5.4em;
    height: 5.4em;
    background-color: #404456;
  }
  
  #hill {
    position: absolute;
    width: 7.1em;
    height: 7.1em;
    top: 1.7em;
    left: 1.7em;
    background-color: transparent;
    border-left: .25em solid whitesmoke;
    transform: rotate(45deg);
  }
  
  #hill:after {
    content: '';
    position: absolute;
    width: 7.1em;
    height: 7.1em;
    left: 0;
    background-color: #404456;
  }
  
  #box {
    position: absolute;
    left: 0;
    bottom: -.1em;
    width: 1em;
    height: 1em;
    background-color: transparent;
    border: .25em solid whitesmoke;
    border-radius: 15%;
    transform: translate(0, -1em) rotate(-45deg);
    animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
  }
  
  @keyframes push {
    0% {
      transform: translate(0, -1em) rotate(-45deg);
    }
    5% {
      transform: translate(0, -1em) rotate(-50deg);
    }
    20% {
      transform: translate(1em, -2em) rotate(47deg);
    }
    25% {
      transform: translate(1em, -2em) rotate(45deg);
    }
    30% {
      transform: translate(1em, -2em) rotate(40deg);
    }
    45% {
      transform: translate(2em, -3em) rotate(137deg);
    }
    50% {
      transform: translate(2em, -3em) rotate(135deg);
    }
    55% {
      transform: translate(2em, -3em) rotate(130deg);
    }
    70% {
      transform: translate(3em, -4em) rotate(217deg);
    }
    75% {
      transform: translate(3em, -4em) rotate(220deg);
    }
    100% {
      transform: translate(0, -1em) rotate(-225deg);
    }
  }

 
  nav a:hover{
    
    color:#0071FF;
    transition: margin-out 3s;
    /*
    transition: margin-out 3s;
    transform: scaleX(1.5);
    transition:2s;
    */
  }
  @font-face {
    font-family: RGFont;
    src: url(RGFont-Regular.ttf);
}

.aTab:hover{
  font-size: 2.5em;
  background-color: #e4e4e3;
}